<div class="mb-3">
  <form [formGroup]="feeForm!" (ngSubmit)="createFee()">
    <div>
      <label for="code">Code</label>
      <input id="code" formControlName="code" required />
      @if (feeForm.controls.code.touched && feeForm.controls.code.invalid) {
        <span class="help-text">Code is required</span>
      }
    </div>
    <div>
      <label for="value">Amount</label>
      <input id="value" formControlName="value" type="number" required />
      @if (feeForm.controls.value.touched && feeForm.controls.value.hasError('required')) {
        <span class="help-text">Amount is required</span>
      }
      @if (feeForm.controls.value.touched && feeForm.controls.value.hasError('min')) {
        <span class="help-text">Amount should be greater than 0</span>
      }
      @if (feeForm.controls.value.touched && feeForm.controls.value.hasError('valueMaximum')) {
        <span class="help-text">Amount must be smaller or equal to 1000</span>
      }
    </div>
    <div>
      <label for="status">Status</label>
      <select id="status" formControlName="status">
        <option>Select a status</option>
        <option value="draft">Draft</option>
        <option value="approved">Approved</option>
        <option value="live">Live</option>
      </select>
    </div>
    <div>
      <button type="submit" [disabled]="feeForm.invalid">Create</button>
    </div>
  </form>
</div>
