<div class="container">
<ul class="nav nav-tabs" id="feeTabs" role="tablist">
  <li class="nav-item" role="presentation" *ngFor="let tab of tabTypes">
    <a class="nav-link"
       [class.active]="activeTab === tab.id"
       (click)="onTabChange(tab.id)"
       [id]="tab.id + '-tab'"
       data-bs-toggle="tab"
       [href]="'#' + tab.id"
       role="tab"
       [attr.aria-controls]="tab.id"
       [attr.aria-selected]="activeTab === tab.id">
      {{ tab.label }}
    </a>
  </li>

</ul>

<div class="tab-content mt-3" id="feeTabsContent">
  <div *ngFor="let tab of tabTypes"
       class="tab-pane fade"
       [id]="tab.id"
       role="tabpanel"
       [attr.aria-labelledby]="tab.id + '-tab'"
       [class.show]="activeTab === tab.id"
       [class.active]="activeTab === tab.id">

    <ng-container *ngFor="let fee of filterFeesByTab(tab.id)">
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">Fee ID: {{ fee.id }}</h5>
          <p class="card-text">Value: £{{ fee.value | number:'1.2-2' }}</p>
          <p class="card-text">Status: {{ fee.status | titlecase }}</p>
        </div>
      </div>
    </ng-container>

  </div>
</div>
</div>
