
<div class="container-fluid px-0 px-lg-5">
  <h1 class="justify-content-start">{{ (fee$ | async)?.code}}</h1>
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">

      <!-- Key-Value Row -->
      <div class="row py-2 border-bottom">
        <div class="col-4 fw-bold">Value:</div>
        <div class="col-8">{{ (fee$ | async)?.value}}</div>
      </div>
      <div class="row py-2 border-bottom">
        <div class="col-4 fw-bold">Email:</div>
        <div class="col-8">johnexample.com</div>
      </div>

      <div class="row py-2 border-bottom">
        <div class="col-4 fw-bold">Phone:</div>
        <div class="col-8">+123 456 7890</div>
      </div>

      <div class="row py-2 border-bottom">
        <div class="col-4 fw-bold">Location:</div>
        <div class="col-8">New York</div>
      </div>

    </div>
  </div>
</div>

